input{
    // ↓ バナークリック_物件リスト表示（リンク）
    &#contact__checkbox01,
    &#contact__checkbox02,
    &#contact__checkbox03{
        display: none;
        &:checked ~ .contact__label {
            margin-bottom: 5%;
        }
        &:checked ~ .bk__lists {
            // z-index: 1;
            // display: block;
            margin-bottom: 5%;
            opacity: 1;
            li{
                animation-name:fadeDownAnime;
                perspective-origin: left center;
                animation-fill-mode: forwards;
                animation-duration:.5s;
                z-index: 1;
                &:nth-child(1){animation-delay:0s;}
                &:nth-child(2){animation-delay:.25s;}
                &:nth-child(3){animation-delay:.5s;}
                a{pointer-events: all;}
            }
            &.-pageBtm{
                margin-bottom: 10%;
            }
        }
    }
}
.bk__lists{
    // display: none;
    transition: 1s;
    opacity: 0;
    li{
        opacity: 0;
        animation-name:fadeDown_RAnime;
        perspective-origin: left center;
        animation-fill-mode: forwards;
        animation-duration:.5s;
        z-index: -1;

        a{
            display: block;
            pointer-events: none;
            padding: 4% 1% 2%;
            transition: all .5s;
            &:hover{
                // border-radius: 10px;
                box-shadow: 2px 2px 3px $main-color--gray;
            }
            &.-color01{
                border: 1px solid $site-color01;
                &:hover{
                    background: $site-color01-hover;
                    // p{color: $main-color--w !important;}
                }
            }
            &.-color02{
                border: 1px solid $site-color02;
                &:hover{
                    background: $site-color02-hover;
                    // p{color: $main-color--w !important;}
                }
            }
            &.-color03{
                border: 1px solid $site-color03;
                &:hover{
                    background: $site-color03-hover;
                    // p{color: $main-color--w !important;}
                }
            }
            .imgBox{
                width: 20%;
                margin: auto;
                filter: drop-shadow(0px 0px 1px $main-color--w);
                @include min(768){
                    width: 15%;
                }
            }
        }
    }
}


label{
    &.contact__label{// バナー画像
        display: block;
        width: 100% !important;
        height: 100% !important;
        text-align: center;
        transition: all .25s;
        cursor:pointer;
        z-index: 2;
        &:hover{
            transform: scale(.98);
            opacity: .90;
        }
    }
}
